{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Bienvenue sur notre site</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Page d'accueil</h5>
                    <p class="card-text">
                        Ceci est un exemple de contenu pour la page d'accueil. Vous pouvez personnaliser ce contenu selon vos besoins.
                    </p>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <a href="{{ path('app_information') }}" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
