# Dépendances
.env
.env.*
.env.local
node_modules
.pnp
.pnp.js

# Cache et fichiers générés par Vite
.vite/
node_modules/.vite/


# Fichiers de production
# /dist  (removed to allow committing dist folder)
/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dist  (removed to allow committing dist folder)
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage directory used by tools like Istanbul
coverage
