# Dépendances
node_modules
.pnp
.pnp.js

# Cache et fichiers générés par Vite
.vite/
node_modules/.vite/
*.local

# Fichiers de production
/dist
/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage directory used by tools like Istanbul
coverage
