###> symfony ###
.env
.env.local
.env.local.php
.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/symfony/public/bundles/
/symfony/var/

###< symfony ###



###> IDE ###
.idea/
.vscode/
###< IDE ###

###> misc ###
.DS_Store
###< misc ### 