###> symfony ###
/symfony/.env.local
/symfony/.env.local.php
/symfony/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony ###

###> docker ###
/docker/data/
.docker/
.env
.env.local
docker-compose.override.yml
###< docker ###

###> IDE ###
.idea/
.vscode/
###< IDE ###

###> misc ###
.DS_Store
###< misc ### 