###> symfony ###
.env
.env.local
.env.local.php
.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/symfony/public/bundles/
/symfony/var/
/symfony/vendor/
###< symfony ###

###> docker ###
/docker/data/
.docker/
docker-compose.override.yml
###< docker ###

###> IDE ###
.idea/
.vscode/
###< IDE ###

###> misc ###
.DS_Store
###< misc ### 