* {
    box-sizing: border-box;
  }
  
  .register-form-wrapper {
    position: relative;
    height: 500px; /* Ajustez selon vos besoins */
    width: 100%;
    max-width: 500px; /* Réduit pour mieux correspondre à la taille de la card */
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .register-card-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
  }
  
  .register-card-wrapper.active {
    top: 0;
  }
  
  .register-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 350px; /* Ajusté pour mieux s'adapter à la card */
    margin: 0 auto;
  }
  
  .submit-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    width: 100%;
  }
  
  .input-field {
    margin-bottom: 15px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  @media (max-width: 768px) {
    .register-form-wrapper {
      padding: 10px;
    }
  
    .register-card {
      max-width: 100%;
    }
  }