services:
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    volumes:
      - backend_vendor:/var/www/symfony/vendor
      - backend_var:/var/www/symfony/var
      - jwt_keys:/var/www/symfony/config/jwt
      - symfony_public:/var/www/symfony/public
    depends_on:
      - database
    networks:
      - app-network
    command: bash -c "composer install --no-interaction && 
      sleep 15 && 
      php bin/console doctrine:database:create --if-not-exists --no-interaction && 
      php bin/console doctrine:schema:update --force --no-interaction && 
      php bin/console doctrine:fixtures:load --no-interaction --append || php bin/console doctrine:fixtures:load --no-interaction && 
      exec php-fpm"

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - symfony_public:/var/www/symfony/public
    depends_on:
      - backend
    networks:
      - app-network

  database:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bigproject
      MYSQL_USER: user
      MYSQL_PASSWORD: "password"
    volumes:
      - database_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: database
      PMA_USER: root
      PMA_PASSWORD: root
      UPLOAD_LIMIT: 300M
    depends_on:
      - database
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  database_data:
  frontend_node_modules:
  backend_vendor:
  backend_var:
  jwt_keys:
  backend_nginx:
  symfony_public:
