.reset-password-page {
    min-height: 100vh;
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reset-password-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .reset-password-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  